<ng-container style="align-items: center;">
  <h2><strong>CONTÁCTENOS</strong></h2>
  <div class="ubicacionMacla">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992.3883292060384!2d-73.11634717084571!3d5.777213334031643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwNDYnMzguMCJOIDczwrAwNic1Ni45Ilc!5e0!3m2!1ses-419!2sco!4v1589467682788!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <br>
  <div class="infoMacla">
    <h3>Modistería Macla</h3><br>
    <p>Carrera 17 # 26 C - 03</p>
    <p>Barrio Primero de Mayo</p>
    <p>Paipa, Boyacá</p>
    <p>Tel. 3192467885</p>
  </div>
</ng-container>
