<ng-container>
  <div class="row">
    <img class="imgNosotros col-3" src="./assets/modisteria.jpg" alt="">
    <div class="col-8">
      <h2>Sobre Nosotros...</h2>
      <p>La Modistería Macla se destaca por su calidad en sus trabajos, ya que el valor agregado es la excelente calidad.
        Esta modistería lleva más de 10 años de estar trabajando en el municipio de Paipa y cuenta con clientes de las ciudades de
        Tunja, Duitama, Sogamoso y Bogotá D.C.</p>
    </div>
  </div>
</ng-container>
